/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #00A1FF;
  --secondary-color: #B10026;
}

body {
  /* overflow-x: hidden; */
  font-family: var(--primary-font);
  background: #F8FAFC;

}

html {
  overflow-x: hidden !important;
}

p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
}

h6 {
  margin-bottom: 0;
  font-weight: 500;
}



/* navbar section start */

.header-scrolled {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 91px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  top: -80px !important;
  left: 0;
  width: 100% !important;
  transform: translateY(80px) !important;
  transition: transform 500ms ease, background 500ms ease !important;
  z-index: 99;
}


.nav-item a {
  font-size: 19px;
  font-weight: 500;
  color: #000;
  margin: 9px;
  text-transform: uppercase;
}

.nav-item a:hover {
  color: var(--primary-color) !important;
}

a#mobileServicesDropdown {
  color: #000;
}

.nav-btn a {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.callbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-left: 27px;
  border-radius: 10px;
  background-color: #ffffff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  transition: 0.5s;
  text-transform: uppercase;
  box-shadow: 0px 4px 6px 0px #00000033;
}

.main-btn {
  background: var(--primary-color);
  color: #fff;
}

.main-btn a {
  color: #fff !important;
}

.main-btn2:hover {
  background: var(--primary-color);
  color: #fff;
}

.main-btn2 a:hover {
  color: #fff;
}

.callbtn a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-btn a:hover {
  color: #fff;
  transform: scale(1.05);
}

.logo img {
  width: 120px;
  /* height: 100px; */
}

.navbar {
  height: 80px;
}

.navbar svg {
  margin-right: 20px;
}

.offcanvas-header img {
  width: 100px;
}

.navbar .container {
  padding: 0;
}

/* manu haver star */


@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .nav-item a {
    font-size: 14px;
    margin: 5px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .nav-item a {
    font-size: 16px;
    margin: 5px;
  }
}

/* navbar section end */


/* banner section start  */
.banner-section .banner-section-bg img {
  width: 100%;
}

.banner-section .container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%
}

/* banner section end  */




/* carrerpath-section start */
.carrerpath-section {
  background: #F1F5F9;
  padding: 30px 0 50px 0px;
}

.carrerpath-section .carrerpath-section-tittle h3 {
  font-weight: 600;
  font-size: 25px;
}

@media (max-width: 576px) {
  .carrerpath-section .carrerpath-section-tittle h3 {
    font-size: 20px;
  }
}

.carrerpath-section .carrerpath-section-tittle h3 span {
  color: var(--primary-color);
}

.carrerpath-section .carrerpath-section-tittle p {
  font-weight: 400;
  font-size: 18px;
}

.silider-box {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
}

.silider-box p {
  font-weight: 400;
  font-size: 15px;
}

.icon-box span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1C8F44;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

.icon-box span {
  color: white;
  font-size: 24px;
}

.box2 span {
  background-color: #000;
}

.box3 span {
  background: #467BFF;
}

.box4 span {
  background: #FF464A;
}

.box5 span {
  background: #FF9E0F;
}

.box7 span {
  background: #FF464A;
}

.box8 span {
  background: #467BFF;
}

/* carrerpath-section end */



.baneer-section .banner-main-box .banner-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (max-width: 991px) {
  .baneer-section .banner-main-box .banner-img img {
    height: 1200px;

  }
}

@media (max-width: 576px) {
  .baneer-section .banner-main-box .banner-img img {
    height: 1300px;

  }
}

.baneer-section .banner-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.baneer-section .banner-info h2 {
  font-weight: 700;
  font-size: 55px;
}

@media (max-width: 991px) {
  .baneer-section .banner-info h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .baneer-section .banner-info h2 {
    font-size: 22px;
  }
}

.banner-info .banner-icon-box h6 {
  font-size: 15px;
}

.banner-info img {
  width: 50%;
}


.banner-info .banner-icon-box i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: #fff;
  font-size: 18px;
}

.icon2 {
  background: #0F6D39 !important;
}

.icon3 {
  background: #FFAF3A !important;
}

.icon4 {
  background: #334155 !important;
}

/* .banner-card start */
.banner-card {
  border: 1px solid var(--primary-color);
  padding: 10px;
  background: #FFF5E5;
  border-radius: 10px;
  height: 270px;
}

@media (max-width: 991px) {
  .banner-card {
    height: 340px;
  }
}

.banner-card h6 {
  font-weight: 500;
  font-size: 17px;
}

.banner-card p {
  font-weight: 400;
  font-size: 15px;
}

.banner-card img {
  width: 81%;
}

@media (max-width: 576px) {
  .banner-card img {
    width: 150px;
  }
}


.banner-card2 {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  background: #FFCCF7;
  height: 125px;
}


@media (max-width: 991px) {
  .banner-card2 {
    height: 160px;
  }
}


.banner-card2 .card-img img {
  width: 100%;
}


@media (max-width: 991px) {
  .banner-card2 .card-img img {
    width: 62%;
  }
}
@media (max-width: 576px) {
  .banner-card2 .card-img img {
    width: 130%;
  }
}

.banner-card2 p {
  font-weight: 400;
  font-size: 15px;
}

.card3 {
  background: #E9FCF1;
}

.card4 {
  background: #94A3B8;
}

.card5 {
  background: #E5EDFF;
}

.card6 {
  background: #FFE5E6;
}

.banner-btn .banner-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background-color: var(--primary-color);

  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  transition: 0.5s;
  box-shadow: 0px 4px 4px 0px #4a494933;
}

.banner-btn .banner-btn-1 a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}


.banner-btn .banner-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  transition: 0.5s;
  box-shadow: 0px 4px 4px 0px #4a494933;
}

.banner-btn .banner-btn-2:hover {
  background: var(--primary-color);
  color: #fff;
}

.banner-btn .banner-btn-2 a {
  text-decoration: none;
  color: #000;
}



/* carrer-section start */
.carrer-section .carrer-section-tittle h2 {
  font-size: 30px;
  font-weight: 600;
}

.carrer-section .carrer-section-tittle h2 span {
  color: var(--primary-color);
}

.carrer-section .carrer-section-tittle p {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .carrer-section .carrer-section-tittle h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .carrer-section .carrer-section-tittle h2 {
    font-size: 22px;
  }
}

.carrer-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.carrer-section .career-card .career-card-tittlt img {
  width: 80px;
}

.carrer-card-tittle {
  background: #FFF5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-radius: 5px 5px 0px 0px;
}

.carrer-card-tittle img {
  width: 70px;
}

.carrer-card-tittle h5 {
  font-weight: 600;
  font-size: 17px;
}

.carrer-card h6 {
  font-weight: 500;
  font-size: 17px;
}

.carrer-card-tittle-body {
  background: #fff;
  border-radius: 0 10px 10px 10px;
}

.carrer-card-tittle-body p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
}

.carrer-card-tittle-body p i {
  color: var(--primary-color);
}

.carrer-card-btn a {
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  width: 100%;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 8px;
}

.carrer-card-btn a:hover {
  background-color: var(--primary-color);
  color: #fff;
}


/* carrer-section end */


/* mentorship-section start */
.mentorship-section .mentorship-section-tittle h2{
  font-size: 30px;
    font-weight: 600;
}
.mentorship-section .mentorship-section-tittle h2 span{
  color: var(--primary-color);
}

@media (max-width: 991px) {
  .mentorship-section .mentorship-section-tittle h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .mentorship-section .mentorship-section-tittle h2 {
    font-size: 22px;
  }
}

.mentorship-section .mentorship-section-tittle p{
  font-weight: 400;
  font-size: 17px;
}

.mentorship-card{
  border: 1px solid #CBD5E1;
  padding: 15px;
  height: 265px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mentorship-card-info h5{
  font-weight: 600;
  font-size: 19px;
}
.mentorship-card-info p{
  font-weight: 400;
  font-size: 16px;
}

.mentorship-card-img img{
  width: 100px;
}

.mentorship-card-img {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.mentorship-card-icon{
  position: absolute;
  bottom: -3%;
  left: -5%;
}

.card-info h6{
  font-weight: 500; 
  font-size: 16px;
}

@media (max-width: 576px) {
  .card-info h6  {
    height: 15px;
  }
}


.card-info p{
  font-weight: 400; 
  font-size: 13px; 
  
}
@media (max-width: 576px) {
  .card-info p {
    margin-top: 28px;
  }
}

/* mentorship-section end */



/* companies-section start */
.companies-section .companies-section-title h2{
  font-size: 30px;
  font-weight: 600;
}
.companies-section .companies-section-title h2 span{
  color: var(--primary-color);
}

@media (max-width: 991px) {
  .companies-section .companies-section-title h2{
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .companies-section .companies-section-title h2{
    font-size: 22px;
  }
}

.companies-section .companies-logo-img img{
  width: 200px !important;
  aspect-ratio: 3;
  object-fit: contain;
}

/* companies-section end */


/* alumuisay-section start */

.alumuisay-section{
  background: #F1F5F9;
  padding: 20px;

}

.alumuisay-section .alumuisay-section-tittle h2{
  font-weight: 600;
  font-size: 30px;
}
.alumuisay-section .alumuisay-section-tittle h2 span{
  color: var(--primary-color);
}
.alumuisay-section .alumuisay-section-tittle p{
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 991px) {
  .alumuisay-section .alumuisay-section-tittle h2{
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .alumuisay-section .alumuisay-section-tittle h2{
    font-size: 22px;
  }
}

.alumuisay-section .alumuisay-card{
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.alumuisay-section .alumuisay-card .alumuisay-card-tittle img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.alumuisay-section .alumuisay-card .alumuisay-card-tittle h6{
 font-weight: 600;
 font-weight: 16px;
}
.alumuisay-card-main-info p{
  font-weight: 400;
  font-weight: 15px !important;
}
.alumuisay-card-main-info .ratting{
  display: flex;
}
.alumuisay-card-main-info .ratting i{
  font-size: 20px;
  color: #FF9E0F;
}
/* alumuisay-section end */


/* .qusetion-section start */
.qusetion-section .qusetion-main h2{
  font-weight: 600;
  font-size: 30px;
}
.qusetion-section .qusetion-main h2 span{
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .qusetion-section .qusetion-main h2{
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .qusetion-section .qusetion-main h2{
    font-size: 22px;
  }
}
.qusetion-section .qusetion-main p{
  font-weight: 400;
  font-size: 17px;
}
.qusetion-img img{
  width: 100%;
  display: flex;                
  justify-content: center;
  align-items: center;
}

/* .qusetion-section end */





.accordion-item{
  border: none;
  border-bottom: 1px solid var(--primary-color);
}
.accordion-button:not(.collapsed){
  background: none;
}
.accordion-item > .accordion-header .accordion-button {
  outline: none;           
  box-shadow: none;    
}


.footer-section .footer-logo img{
 width: 130px;
}

@media (max-width: 991px) {
  .footer-section .footer-logo {
    display: flex;
    justify-content: center;
  }

  .footer-section .footer-logo img {
    width: 130px;
  }
}


.link-main-box p{
  font-weight: 600;
  font-size: 12px;
  border-right: 1px solid var(--primary-color);
  padding-right: 10px;
}

@media (max-width: 991px) {
  .link-main-box {
    display: flex;
    justify-content: center;
  }
  .link-main-box p{
    font-size: 17px; 
  }
}

@media (max-width: 991px) {
  .link-main-box p{
    font-size: 12px; 
  }
}



.socal-link span {
  background-color: var(--primary-color);  
  width: 40px;                             
  height: 40px;                           
  border-radius: 50%;                     
  display: flex;                          
  justify-content: center;                
  align-items: center;                   
  color: white;                            
  font-size: 18px;                       
}

@media (max-width: 991px) {
  .socal-link{
   margin-top: 30px;  
  }
}

.company-name a{
 text-decoration: none;
 color: #475569;
 font-weight: 500;
 font-size: 16px;
 transition: 0.5s all;
}
.company-name a:hover{
  color: var(--primary-color);
}

 .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='%23000' class='bi bi-plus-square-dotted' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834-1v1h.916v-1zm1.833 1h.917v-1h-.917zm1.833 0h.917v-1h-.917zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='%23000' class='bi bi-dash-square-dotted' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 0q-.25 0-.487.048l.194.98A1.5 1.5 0 0 1 2.5 1h.458V0zm2.292 0h-.917v1h.917zm1.833 0h-.917v1h.917zm1.833 0h-.916v1h.916zm1.834 0h-.917v1h.917zm1.833 0h-.917v1h.917zM13.5 0h-.458v1h.458q.151 0 .293.029l.194-.981A2.5 2.5 0 0 0 13.5 0m2.079 1.11a2.5 2.5 0 0 0-.69-.689l-.556.831q.248.167.415.415l.83-.556zM1.11.421a2.5 2.5 0 0 0-.689.69l.831.556c.11-.164.251-.305.415-.415zM16 2.5q0-.25-.048-.487l-.98.194q.027.141.028.293v.458h1zM.048 2.013A2.5 2.5 0 0 0 0 2.5v.458h1V2.5q0-.151.029-.293zM0 3.875v.917h1v-.917zm16 .917v-.917h-1v.917zM0 5.708v.917h1v-.917zm16 .917v-.917h-1v.917zM0 7.542v.916h1v-.916zm15 .916h1v-.916h-1zM0 9.375v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .916v.917h1v-.917zm16 .917v-.917h-1v.917zm-16 .917v.458q0 .25.048.487l.98-.194A1.5 1.5 0 0 1 1 13.5v-.458zm16 .458v-.458h-1v.458q0 .151-.029.293l.981.194Q16 13.75 16 13.5M.421 14.89c.183.272.417.506.69.689l.556-.831a1.5 1.5 0 0 1-.415-.415zm14.469.689c.272-.183.506-.417.689-.69l-.831-.556c-.11.164-.251.305-.415.415l.556.83zm-12.877.373Q2.25 16 2.5 16h.458v-1H2.5q-.151 0-.293-.029zM13.5 16q.25 0 .487-.048l-.194-.98A1.5 1.5 0 0 1 13.5 15h-.458v1zm-9.625 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zm1.834 0h.916v-1h-.916zm1.833 0h.917v-1h-.917zm1.833 0h.917v-1h-.917zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z'/%3E%3C/svg%3E");
}

 
/* mentoes-section start */

.mentoes-section-tittle{

}
.mentoes-section-tittle h2{
  font-weight: 600;
  font-size: 30px;
}
.mentoes-section-tittle h2 span{
  color: var(--primary-color);
}
@media (max-width: 991px) {
  .mentoes-section-tittle h2{
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .mentoes-section-tittle h2{
    font-size: 22px;
  }
}


.mentoes-card{
  border: 1px solid var(--primary-color);
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
.mentoes-section-tittle p{
  font-weight: 400;
  font-size: 17px;
}

.mentoes-card .mentoes-card-tittle img{
  width: 70px;
  height:70px;
  border-radius: 20px;
  object-fit: cover;
}

.mentoes-card-name h6{
  font-weight: 500;
  font-size: 16px;
}
.mentoes-card-name p{
  font-weight: 500;
  font-size: 14px;
  color: #64748B;
}
.mentoes-card-info{
  padding: 10px 15px 15px 10px;
}
.mentoes-card-info .main-info h6{
  font-weight: 500;
  font-size: 14px;
  color: #64748B;
}
.mentoes-card-info .main-info p{
  font-weight: 500;
  font-size: 14px;
  color: #64748B;
}
.mentoes-card-info .main-info p i{
  color: #FF9E0F;
}


.seemore-card-img img{
  width: 100%;
  border-radius: 10px;
  height: 190px;
  object-fit: cover;
}

.seemore-card-info h5{
 font-weight: 600;
 font-size: 20px;
 color:  #fff;
}
.seemore-card-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  width: 80%;
}
/* mentoes-section end */